
<h1 id="titulo">Titulo y colores:{{titulo}} {{colores}}</h1>
<h1 id="titulo">Acumulador:{{acumulador}} </h1>
	<button type="button" class="btn btn-default" ng-click="borrar()">BORRAR</button>

<p onclick="envia('rojo')"></p>
<p id="parrafo"></p>
<!--Inicio Container-->	
<!--Incio tabla-->

<table>
	<tr>
		<td id="Verde" class="Verde" ng-click="play('verde')"></td>
		<td id="Rojo" class="Rojo" ng-click="play('rojo')" ></td>
	</tr>
	<tr>
		<td id="Azul" class="Azul" ng-click="play('azul')"></td>
		<td id="Amarillo" class="Amarillo" ng-click="play('amarillo')"></td>
	</tr>
	
</table>
<ul>
	<li >Verde:{{acumuladorverde}}</li>
	<li >Azul:{{acumuladorazul}}</li>
	<li >Rojo:{{acumuladorrojo}}</li>
	<li >Amarillo:{{acumuladoramarillo}}</li>
</ul>


	

<!--Fin tabla-->
<!--Fin Container-->

